<ion-view view-title="Configurações">
<ion-content>
  <div class="list">

    <div class="item item-divider">
      Localização
    </div>

    <ion-toggle ng-model="settings.enableGPS">
      Permitir uso do GPS
    </ion-toggle>


    <div class="item item-divider">
      Notificações
    </div>

    <ion-toggle toggle-icon-left ng-model="settings.enablePushNotifications">
      Receber notificações no dispositivo (push)
    </ion-toggle>

    <ion-toggle toggle-icon-left ng-model="settings.enableEmailNotifications">
      Receber notificações por e-mail
    </ion-toggle>


    <div class="item item-divider">
      Acessibilidade
    </div>

    <ion-toggle ng-model="settings.enabHighContrast">
      Alto contraste
    </ion-toggle>

    <ion-toggle ng-model="settings.enableBigFonts">
      Fontes em tamanho grande
    </ion-toggle>

    <div class="item item-divider">
      Sobre
    </div>

    <ion-toggle ng-model="settings.enabHighContrast">
      Sobre o aplicativo
    </ion-toggle>

    <ion-toggle ng-model="settings.enableBigFonts">
      Termos de uso
    </ion-toggle>

  </div>
</ion-content>
</ion-view>
