<ion-view view-title="Lista de ícones - ideias">
  <ion-content>
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-bulb"></i>
        Compartilhar ideia (clicar no mapa)
      </a>

      <div class="item item-divider">
        Tela de avaliação de cenário/alternativa
      </div>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-bicycle"></i>
        Ciclovia/ciclorota
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-bus"></i>
        ônibus
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-subway"></i>
        metrô / trem
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-walk"></i>
        alargamento de calçadas
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-leaf"></i>
        praças / áreas verdes
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon fa-graduation-cap"></i>
        instituições de ensino (adicionar font-awesome)
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon fa-plus-square"></i>
        instituição de saúde (adicionar font-awesome)
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-map"></i>
        ver região no Google Maps
      </a>


      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-twitter"></i>
        twittar pesquisa
      </a>


      <a class="item item-icon-left" href="#">
        <i class="icon ion-information-circled"></i>
        ver informações adicionais
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-buffer"></i>
        mudança de parâmetros de uso do solo
      </a>

      <div class="item item-divider">
        Tela de perfil do usuário
      </div>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ribbon-a"></i>
        consultar pontuação
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-coffee"></i>
        boost - enviar pesquisas concluidas para amigos
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-umbrella"></i>
        ver ranking
      </a>

      <div class="item item-divider">
        Tela de construção de questionários (web)
      </div>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-merge"></i>
        modo estudo de cenários
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-steam"></i>
        modo cenário específico
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-document"></i>
        upload de documento - informações adicionais
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-image"></i>
        upload de imagem - informações adicionais
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-attach"></i>
        upload de arquivo
      </a>


    </div>

  </ion-content>
</ion-view>
