<ion-view class="welcome-view" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="top-content top-content-login row">
      <div class="app-copy-login col">

      <div class="app-logo-container">
        <div class="app-logo-bg"></div>
        <div class="app-logo">
          <img class="app-logo-img" src="./img/logo_votasampa.png" >
<!--           <h1>
            <span class="first-word">Vota</span>
            <span class="second-word">SAMPA</span>
          </h1> -->
        </div>
      </div>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="item item-input">
          <span class="input-label">email</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">senha</span>
          <input type="password" ng-model="user.password">
        </label>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <button class="button button-shadow button-full button-assertive button-login" ui-sref="tab.questions">
          Login
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-facebook-sign-in button-dark button-shadow button-full icon-left" ng-click="facebookSignIn()">
          <i class="icon ion-social-facebook facebook-login"></i>
          Entrar com Facebook
        </button>
      </div>
    </div>

    <div class="row">
        <div class="col text-center">
          <a class="forgot-password" href="#/forgot-password">esqueci minha senha</a>
        </div>
    </div>

  </ion-content>
</ion-view>
