<ion-popover-view>
  <ion-content has-header="true">
    <div class="list" ng-click="popover.hide()">
      <a class="item item-icon-left">
        <i class="icon ion-android-person"></i>
        Editar meu perfil
      </a>
      <a ui-sref="config" class="item item-icon-left">
        <i class="icon ion-gear-a"></i>
        Configurações
      </a>
      <a class="item item-icon-left" ui-sref="welcome">
        <i class="icon ion-power"></i>
        Sair
      </a>
    </div>
  </ion-content>
</ion-popover-view>
