<ion-nav-bar class="bar-assertive">
</ion-nav-bar>
<ion-view view-title="Questão 3">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-information-circled" ng-click="modal.show()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" overflow-scroll="false">
    <div class="list card">

      <div class="item item-divider item-text-wrap">
        Caso deseje, comente outros problemas verificados neste trajeto:
      </div>

      <label class="item item-input item-stacked-label">
<!--         <span class="input-label">Resposta:</span>
 -->        <textarea placeholder="Sua resposta" rows="10" cols="10"></textarea>
      </label>

    </div>

  </ion-content>

  <div class="progress-bar">
    <div class="increment increment-65"></div>
  </div>
  <ion-footer-bar>
    <button class="button button-dark button-clear icon-left ion-ios-arrow-back" ui-sref="questions-map">
    voltar
    </button>
    <button class="button button-clear button-positive icon-right ion-ios-arrow-forward" ui-sref="questions-summary">
    prosseguir
    </button>
  </ion>

</ion-view>
