  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title">Saiba mais sobre a pesquisa</h1>
      <div class="button button-clear" ng-click="modal.hide()">
      <span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content padding="true">
      <div class="item item-body">
        <p>
        A retirada da cobertura do rio neste trecho depende do remanejamento de parte do corredor de ônibus Expresso Tiradentes, que atualmente passa sobre o Rio Tamanduateí.
        </p>

        <p>
        Esta ação, prevista nas diretrizes da Operação Urbana Bairros do Tamanduateí, faz parte das ações necessárias para a regeneração do rio e valorização de seu entorno. Esta ação virá acompanhada de melhorias na infraestrutura de calçadas e ciclovias, melhorando a mobilidade na região.
        </p>

        <p>
        Esta pesquisa visa avaliar alternativas de reestruturação do transporte coletivo com o objetivo de possibilitar este destamponamento do Rio Tamanduateí no trecho entre a Estação de Ônibus Ana Neri e o Terminal Urbano Parque Dom Pedro II.
        </p>

      </div>
    </ion-content>
  </ion-modal-view>
