
<ion-nav-bar class="bar-assertive" ng-init="init()">
</ion-nav-bar>
<ion-view view-title="Questão 2">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-information-circled"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" scroll="false" data-tap-disabled="true">

    <div class="list card list-overlay">

    <div class="item item-divider item-text-wrap">
      Foram formuladas três alternativas de rotas. Por favor escolha no mapa a que mais atende suas expectativas de melhorias:
     </div>

    <label class="item item-input item-select">
      <div class="input-label">
        Cenários
      </div>
      <select>
        <option></option>
        <option>Cenário 1</option>
        <option>Cenário 2</option>
        <option>Cenario 3</option>
      </select>
    </label>

    </div>

    <div id="map"></div>
  </ion-content>

  <div class="progress-bar">
    <div class="increment increment-35"></div>
  </div>
  <ion-footer-bar>
    <button class="button button-clear button-dark icon-left ion-chevron-left ion-ios-arrow-back" ui-sref="questions-multiple">
      voltar
    </button>
    <button class="button button-clear button-positive icon-right ion-ios-arrow-forward" ui-sref="questions-paragraph">
      prosseguir
    </button>
  </ion-footer-bar>
</ion-view>

