<ion-nav-bar class="bar-assertive">
</ion-nav-bar>

<ion-view view-title="Resumo das suas respostas">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-information-circled" ng-click="modal.show()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" overflow-scroll="true">
    <div class="list card">

      <div class="item item-divider item-text-wrap">
         Qual o modo de transporte que você mais utiliza no deslocamento entre a Estação de Ônibus Ana Neri e o Terminal Urbano Parque Dom Pedro II?
      </div>
      <div class="item item-icon-left">
         <i class="icon positive ion-android-checkbox"></i>
         Transporte público
      </div>

    </div>

    <div class="list card">

      <div class="item item-divider item-text-wrap">
        Foram formuladas três alternativas de rotas. Por favor escolha no mapa a que mais atende suas expectativas de melhorias:
      </div>

      <label class="item item-input item-stacked-label">
        <div class="answer item-text-wrap">
        <img class="full-image" src="./img/cenario_2.png">
        <div class="scenario">
        <strong>Cenário 3</strong> Ponto A - R. Conselheiro João Alfredo - R. da Mooca - R. Piratininga - Av. Radial Leste - Tunel sobre Estação Pedro II - Ponto B
        </div>
        </div>
      </label>

    </div>

    <div class="list card">

      <div class="item item-divider item-text-wrap">
        Caso deseje, comente outros problemas verificados neste trajeto:
      </div>

      <label class="item item-input item-stacked-label">
        <div class="answer item-text-wrap">
          A avenida Alcântara Machado poderia ter mais faixas de pedestres e árvores.
        </div>
      </label>

    </div>

  </ion-content>

  <div class="progress-bar">
    <div class="increment increment-95"></div>
  </div>
  <ion-footer-bar>
    <button class="button button-dark button-clear icon-left ion-ios-arrow-back" ui-sref="questions-paragraph">
      voltar
    </button>
    <button class="button button-positive icon-right  ion-checkmark" ng-click="sendAnswers()">
    enviar respostas&nbsp;
    </button>
  </ion-footer-bar>

</ion-view>
