<ion-view hide-nav-bar="true">

  <ion-header-bar align-title="center" class="bar-assertive">
    <h1 class="title">Pesquisa finalizada</h1>
  </ion-header-bar>

  <ion-content class="has-header" overflow-scroll="true">


  <div class="card">
    <div class="item item-light item-positive item-text-wrap text-center">
      <h1 class="light">Muito obrigado!</h1>
      <h2 class="light">Recebemos a sua resposta e agradecemos pela participação.</h2>
    </div>

    <div class="item item-icon-left item-text-wrap">
     <i class="icon energized ion-arrow-graph-up-right"></i>
     Você ganhou <strong>1 ponto</strong> por esta pesquisa!
    </div>

    <div class="item item-icon-left item-text-wrap">
      <i class="icon dark ion-email"></i>
      Em breve você receberá um e-mail com o resumo das suas respostas.
    </div>

  </div>

  <div class="padding">
    <button class="button button-block button-dark button-return button-outline icon-left ion-ios-arrow-left" ui-sref="tab.account">
     Voltar para o início
    </button>
    <button class="button button-block button-dark button-return button-outline icon-left ion-podium" ui-sref="tab.ranking">
     Visualizar meu ranking
    </button>
    <button class="button button-block button-royal button-return button-outline icon-left ion-share" ui-sref="tab.account">
     Compartilhar pesquisa
    </button>
  </div>

  </ion-content>

  <div class="progress-bar">
    <div class="increment increment-100"></div>
  </div>

</ion-view>
