<ion-nav-bar class="bar-assertive">
</ion-nav-bar>

<ion-view view-title="Resumo das suas respostas">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-information-circled" ng-click="modal.show()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" overflow-scroll="true">
    <div class="list card">

      <div class="item item-divider item-text-wrap">
         Pergunta?
      </div>
      <div class="item item-icon-left">
         <i class="icon positive ion-android-checkbox"></i>
         Resposta
      </div>

    </div>

    <div class="list card">

      <div class="item item-divider item-text-wrap">
        Pergunta?
      </div>

      <label class="item item-input item-stacked-label">
        <div class="answer item-text-wrap">
          Resposta
        </div>
      </label>

    </div>


  </ion-content>

  <div class="progress-bar">
    <div class="increment increment-95"></div>
  </div>
  <ion-footer-bar>
    <button class="button button-dark button-clear icon-left ion-ios-arrow-back" ui-sref="questions-multiple">voltar</button>
    <button class="button button-positive icon-right ion-checkmark" ui-sref="tab.questions">
    enviar respostas&nbsp;
    </button>
  </ion-footer-bar>

</ion-view>
