<ion-nav-bar class="bar-assertive">
</ion-nav-bar>
<ion-view view-title="Questão 1">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-information-circled" ng-click="modal.show()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" overflow-scroll="false">
    <div class="list card">

      <div class="item item-divider item-text-wrap">
         Qual o modo de transporte que você mais utiliza no deslocamento entre a Estação de Ônibus Ana Neri e o Terminal Urbano Parque Dom Pedro II?
      </div>

      <div class="item item-checkbox checkbox-square">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         A pé
      </div>
      <div class="item item-checkbox checkbox-square">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Bicicleta
      </div>
      <div class="item item-checkbox checkbox-square">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Transporte público
      </div>
      <div class="item item-checkbox checkbox-square">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Carro
      </div>


    </div>

  </ion-content>

  <div class="progress-bar">
    <div class="increment"></div>
  </div>
  <ion-footer-bar>
    <button class="button button-clear button-dark icon-left ion-ios-arrow-back" ui-sref="tab.questions">
      voltar
    </button>
    <button class="button button-clear button-positive icon-right ion-ios-arrow-forward" ui-sref="questions-map">
      prosseguir
    </button>
  </ion-footer-bar>

</ion-view>

