<ion-view hide-nav-bar="true">

  <ion-header-bar align-title="center" class="bar-assertive">
    <div class="buttons">
      <button class="button" ui-sref="tab.account">
        <i class="ion-ios-arrow-back"></i> Meu perfil
      </button>
    </div>
    <h1 class="title">Ranking</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-contact" ng-click="openPopover($event)"></button>
    </div>
  </ion-header-bar>

  <div class="bar bar-subheader bar-dark">
    <div class="button-bar">
      <a class="button activated" ng-click="data.filter='amigos'">Amigos</a>
      <a class="button" ng-click="data.filter='global'">Global</a>
    </div>
  </div>

  <ion-content class="has-header has-subheader">

  <div class="list">


    <a class="item item-avatar" href="#">
      <img src="./img/maria.jpg">
      <h2>Maria<span class="badge badge-points badge-light">1&#186;</span></h2>
      <p class="points">620 pontos</p>
    </a>

    <a class="item item-avatar" href="#">
      <i class="icon stable ion-ios-contact"></i>
      <h2>Rey C.<span class="badge badge-points badge-light">2&#186;</span></h2>
      <p class="points">521 pontos</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="./img/luisa.jpg">
      <h2>Luisa<span class="badge badge-points badge-light">3&#186;</span></h2>
      <p class="points">507 pontos</p>
    </a>

    <a class="item item-avatar item-royal" href="#">
      <img src="./img/Peatonito.jpg">
      <h2>Peatonito<span class="badge badge-points badge-light">4&#186;</span></h2>
      <p class="points points-selected">237 pontos
      </p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="./img/forrest.jpg">
      <h2>Forest<span class="badge badge-points badge-light">5&#186;</span></h2>
      <p class="points">234 pontos</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="./img/lena.jpg">
      <h2>Lena L.<span class="badge badge-points badge-light">6&#186;</span></h2>
      <p class="points">45 pontos</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="./img/joao.jpg">
      <h2>João Francisco<span class="badge badge-points badge-light">7&#186;</span></h2>
      <p class="points">13 pontos</p>
    </a>

</div>

  </ion-content>

</ion-view>
