 <ion-side-menus>
    <ion-side-menu-content>
      <ion-nav-bar class="bar-energized nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view name="snd" animation="slide-left-right"></ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left" ng-controller="NavController">

      <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Filtros</h1>
      </ion-header-bar>
      <ion-content has-header="true">
        <ul class="list">
          <a nav-clear class="item" ng-click="toggleLeft()">Norte</a>
          <a nav-clear class="item" ng-click="toggleLeft()">Sul</a>
          <a nav-clear class="item" ng-click="toggleLeft()">Leste</a>
          <a nav-clear class="item" ng-click="toggleLeft()">Oeste</a>
          <a nav-clear class="item" ng-click="toggleLeft()">Centro</a>
        </ul>
      </ion-content>

    </ion-side-menu>
</ion-side-menus>
