<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar bar-assertive">
      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-funnel" ng-click="toggleLeft()"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-contact" ng-click="popover.show($event)"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent">
      <ion-view title="Perguntas">

        <ion-content class="has-header padding">

            <div class="list card">

              <div class="item item-icon-left">
                <i class="icon ion-android-bus"></i>
                <h2>Novo corredor de ônibus</h2>
                <p>Termina em 23 dias</p>
              </div>

              <div class="item item-body">
                <p>
                  Essa pesquisa visa avaliar impactos na implantação de um novo corredor de ônibus na Vila São João.
                </p>
                <div class="row row-participate">
                  <div class="col button button-block button-positive button-round">
                     Responder a pesquisa
                  </div>
                </div>
              </div>

              <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                  <i class="icon ion-android-people"></i>
                  103 participantes
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-share"></i>
                  Compartilhar
                </a>
              </div>

            </div>

        </ion-content>
      </ion-view>

    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
      <header class="bar bar-header bar-stable">
        <h1 class="title">Filtros</h1>
      </header>
      <ion-content class="has-header">
        <ul class="list">
          <a nav-clear class="item" ng-click="toggleLeft()">Norte</a>
          <a nav-clear class="item" ng-click="toggleLeft()">Sul</a>
          <a nav-clear class="item" ng-click="toggleLeft()">Leste</a>
          <a nav-clear class="item" ng-click="toggleLeft()">Oeste</a>
          <a nav-clear class="item" ng-click="toggleLeft()">Centro</a>
        </ul>
      </ion-content>
  </ion-side-menu>
</ion-side-menus>
