<ion-view hide-nav-bar="true">
<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-header-bar align-title="center" class="bar bar-header bar-royal">
      <h1 class="title">Filtros</h1>
    </ion-header-bar>
    <ion-content has-header="true">
      <ion-list>

        <div class="item item-divider">
          Temas de interesse
        </div>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          edudação
        </ion-checkbox>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          habitação
        </ion-checkbox>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          mobilidade
        </ion-checkbox>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          saúde
        </ion-checkbox>

        <div class="item item-divider">
          Localidades
        </div>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          centro
        </ion-checkbox>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          zona sul
        </ion-checkbox>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          zona leste
        </ion-checkbox>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          zona oeste
        </ion-checkbox>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          Zona norte
        </ion-checkbox>

        <div class="item item-divider">
          Meus endereços
        </div>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          casa
        </ion-checkbox>
        <ion-checkbox class="item-checkbox-right checkbox-dark">
          trabalho
        </ion-checkbox>
      </ion-list>

    </ion-content>
  </ion-side-menu>

  <ion-side-menu-content>
      <ion-view>

        <ion-header-bar align-title="center" class="bar-assertive">
          <button class="button button-icon icon fa fa-filter" menu-toggle="left"></button>
          <h1 class="title">Pesquisas</h1>
          <button class="button button-icon icon ion-ios-contact" ng-click="openPopover($event)"></button>
        </ion-header-bar>

        <ion-content class="has-header padding">

          <div class="list card card-new" ng-hide="filter()">
            <div class="item item-icon-left item-text-wrap item-head">
              <i class="icon ion-android-bus"></i>
              <h2>Melhoramentos urbanísticos e de infraestrutura de mobilidade no corredor Expresso Tiradentes</h2>
              <p>Termina em 30 dias</p>
            </div>

            <div class="item item-body">
              <div class="badges">
                <span class="badge badge-royal">
                  <i class="icon-left ion-android-pin"></i>&nbsp;centro
                </span>
              </div>

              <p>
                Esta é uma pesquisa sobre a implantação de novas calçadas, ciclovia e melhoramentos viarios para o transporte coletivo entre a Estação de Ônibus Ana Neri e o Terminal Urbano Parque Dom Pedro II.
              </p>
              <div class="row row-participate">
                <div class="col button button-block button-positive button-question button-round button-shadow button-question" ui-sref="questions-multiple-single">
                   Responder pesquisa
                </div>
              </div>
            </div>

            <div class="row row-bottom">
              <div class="col dark total-answers">
                <i class="icon icon-medium ion-android-people"></i>
                <span>542 respostas</span>
              </div>
              <div class="col share">
                <a class="button button button-clear button-royal button-share" href="#">
                  <i class="icon ion-share"></i> compartilhar
                </a>
              </div>
            </div>
          </div>

          <div class="list card">
            <div class="item item-icon-left item-text-wrap item-head">
              <i class="icon ion-android-bicycle"></i>
              <h2>Ciclovia na Vila Maria</h2>
              <p>Termina em 23 dias</p>
            </div>

            <div class="item item-body">
              <div class="badges">
                <span class="badge badge-royal">
                  <i class="icon-left ion-android-pin"></i>&nbsp;zona leste
                </span>
              </div>
              <p>
                Essa pesquisa visa avaliar impactos na implantação de uma nova ciclorota na Vila Maria.
              </p>
              <div class="row row-participate">
                <div class="col button button-block button-round button-shadow button-dark button-started-question" ui-sref="questions-multiple">
                  Continuar pesquisa
                </div>
              </div>
              <div class="progress-wrap progress" data-progress-percent="25">
                <div class="progress-bar progress"></div>
              </div>
            </div>

            <div class="row row-bottom">
              <div class="col dark total-answers">
                <i class="icon icon-medium ion-android-people"></i>
                <span>10.305 respostas</span>
              </div>
              <div class="col share">
                <a class="button button button-center button-clear button-royal button-share" href="#">
                  <i class="icon ion-share"></i> compartilhar
                </a>
              </div>
            </div>
          </div>

        </ion-content>
      </ion-view>

    </ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>
</ion-view>
