<ion-view hide-nav-bar="true">

  <ion-header-bar align-title="center" class="bar-assertive">
    <h1 class="title">Meu perfil</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-contact" ng-click="openPopover($event)"></button>
    </div>
  </ion-header-bar>

  <ion-content class="padding has-header">
    <div id="profile-bg"></div>
    <div id="profile-info">
      <img id="profile-image" src="./img/peatonito.jpg">
      <h4 id="profile-name">Peatonito</h4>
      <span id="profile-points" class="dark">237 pontos</span>
    </div>

    <div id="profile-content">
      <div class="card">
        <div class="item item-icon-left item-icon-right item-text-wrap" ui-sref="tab.ranking">
          <i class="icon assertive ion-podium"></i>
          <strong>4&#186;</strong> no ranking de amigos
          <p><strong>95&#186;</strong> no ranking global</p>
          <i class="icon dark ion-ios-arrow-right"></i>
        </div>
        <div class="item item-text-wrap item-icon-left item-icon-right">
          <i class="icon positive ion-android-done-all"></i>
          <strong>32</strong> pesquisas respondidas
          <i class="icon dark ion-ios-arrow-right"></i>
        </div>
        <div class="item item-text-wrap item-icon-left item-icon-right">
          <i class="icon energized ion-trophy"></i>
          <h2>Último trofeu conquistado</h2>
          <div>O pesquisador urbano</div>
          <i class="icon dark ion-ios-arrow-right"></i>
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <h3 class="profile-progress-title">Pesquisas concluídas</h3>
        <div class="profile-progress">
          <div round-progress
          max="45"
          current="32"
          color="#00796B"
          bgcolor="#eaeaea"
          radius="40"
          stroke="10"
          semi="false"
          rounded="false"
          clockwise="false"
          responsive="false"
          duration="800"
          animation="easeInOutQuart"
          animation-delay="100">
          </div>
          <div class="profile-progress-value positive">71%</div>
        </div>
        </div>
      </div>

    </div>

  </ion-content>

</ion-view>
