<ion-view view-title="Perguntas">

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-funnel" ng-click="toggleLeft()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-contact" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>

  <ion-content class="padding">

  <div class="list card">

    <div class="item item-icon-left head">
      <i class="icon ion-android-bus"></i>
      <h2>Novo corredor de ônibus</h2>
      <p>Termina em 23 dias</p>
    </div>

    <div class="item item-body">
      <p>
        Essa pesquisa visa avaliar impactos na implantação de um novo corredor de ônibus na Vila São João.
      </p>
      <div class="row row-participate">
        <div class="col button button-block button-dark button-round">
           Responder a pesquisa
        </div>
      </div>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item">
        <i class="icon ion-android-people"></i>
        10.305 respostas
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-share"></i>
        Compartilhar
      </a>
    </div>

  </div>

  </ion-content>
</ion-view>

