<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active">

  <!-- Dashboard Tab -->
  <ion-tab title="Pesquisas" icon-off="ion-clipboard" icon-on="ion-clipboard" ui-sref="tab.questions({filter: true})">
    <ion-nav-view name="tab-questions"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Meu Perfil" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="tab.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
