<ion-view class="welcome-view" hide-nav-bar="true" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content top-content-welcome row">
      <div class="app-copy col">

      <div class="app-logo-container">
        <div class="app-logo-bg"></div>
        <div class="app-logo">
          <img class="app-logo-img" src="./img/logo_votasampa.png" label="Vota Sampa">
<!--           <h1>
            <span class="first-word">Vota</span>
            <span class="second-word">SAMPA</span>
          </h1> -->
        </div>
      </div>

        <p class="app-tagline">
          Participe das pesquisas da prefeitura e colabore para fazer uma São Paulo melhor
        </p>
      </div>
    </div>

<!--     <div class="bottom-content row">
      <div class="col">
        <button class="button button-facebook-sign-in button-dark button-shadow button-full icon-left" ng-click="facebookSignIn()">
          <i class="icon ion-social-facebook facebook-login"></i>
          entrar com Facebook
        </button>
      </div>
    </div>
 -->
    <div class="bottom-content row">
      <div class="col">
        <div class="button-bar">
        <button class="button button-shadow button-full button-assertive button-login" ui-sref="login">
          Entrar
        </button>
        <button class="button button-shadow button-full button-light button-signup" ng-click="noSignIn()">Cadastrar-se</button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
