/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/


/* color palette: https://color.adobe.com/CSIRO-11-color-theme-7122317/edit/?copy=true */

$smt-red-1: #EE1C25;
$smt-red-2: #ED1C24;
$smt-red-3: #E94B3B;
$smt-dark-red: #820F14;

$smt-grey-1: #E1E1E1;
$smt-grey-2: #F2F4F5;

$yellow: #F1A942;
$green: #2DB973;
$dark-green: #145233;

$amber-500: #FFC107;
$green-100: #C8E6C9;
$green-500: #4CAF50;
$green-900: #1B5E20;

$stable: $smt-grey-1;
$energized: $yellow;
$positive: #00796B;

$assertive: $smt-red-1;
$royal: $smt-red-3;



// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import "www/lib/font-awesome/scss/font-awesome";


ion-content {
  background: $smt-grey-2;
}

.welcome-view {
  ion-content {
    background: transparent;
  }
}


.welcome-view {
  background:  linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
  ), url('../img/paulista.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;

  .top-content-login {
    height: 40%;
  }

  .top-content-welcome {
    height: 70%;
  }

  .top-content {
    align-items: center;

    .app-logo-container {
      position: relative;
    }

    .app-logo-img {
      width: 300px;
    }

    .app-logo {
      position: relative;
      z-index: 100;
      background: rgba(255, 255, 255, 0.75);
      padding: 16px 0 12px;
      h1 {
        padding: 12px 0;
        font-size: 32px;
        font-family: sans-serif;
        font-weight: 100;
        color: $smt-red-1;
        text-transform: uppercase;
      }
    }

    .app-logo-bg {
      // -webkit-filter: blur(13px);
      // -moz-filter: blur(13px);
      // -o-filter: blur(13px);
      // -ms-filter: blur(13px);
      // filter: blur(13px);
      // -webkit-background-size: cover;
      // -moz-background-size: cover;
      // background-size: cover;
      // background: #222 url('../img/paulista.jpg') no-repeat center center fixed;
      // background-position: center center;
      // position: absolute;
      // top: 0px;
      // right: 0px;
      // bottom: 0px;
      // left: 0px;
      // width:100%;
      // height:100%;
      // z-index: 99;
    }


    .app-tagline {
      font-size: 16px;
      margin-top: 25px;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
    }

    .first-word {
      letter-spacing: 2px;
      color: #333;
    }

    .second-word {
      letter-spacing: 3px;
      font-weight: 500;
      color: $smt-red-2;
    }

    .app-copy {
      text-align: center;
      padding-top: 13vh;
    }

    .app-copy-login {
      text-align: center;
      padding-top: 20vh;
    }
  }

  .bottom-content {
    height: 30%;
  }

}

.forgot-password {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
}

.button.button-facebook-sign-in {
  border-radius: 4px;
  font-weight: 500;
  color: #FFF;
  background-color: #294886;
  border-color: #27447e;
}

.button .icon.facebook-login {
  float: left;
  padding: 0px;
}

.button-login {
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  color: $stable;
}

.button-signup {
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  color: #333;
}

.button-question {
  font-size: 120%;
  font-weight: 500;
}

.button.button-started-question {
  font-size: 115%;
  font-weight: 500;
  background-color: #4DB6AC;
}

.button-round {
  border-radius: 32px;
}

.button-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.12));
}

.row-participate {
  padding: 0;
}

.row.row-bottom {
  padding-top: 0px;
  margin-top: 0px;
}

.total-answers {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  padding-bottom: 14px;
  vertical-align: middle;
}

.share {
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
}

.button-share {
  padding: 0 4px;
}

.over-pane {
  &:first-child  {
    overflow: hidden;
    position: fixed;
    background-color: #DADBDD;
    margin-top: 20px;
    border-top: 1px solid #B2B2B2;
  }
}

// .bar .button{
//   height: auto;
//   padding: 20px;
//  }

.bar.bar-subheader {
 height: auto; // Override Ionic's 44px bar height and let it size itself automatically based on the content.
}


.scroll {
  height: 100%;
}

#map {
  display: block;
  width: 100%;
  height: 100%;
}

.item-stacked-label input, .item-stacked-label textarea {
  height: 50%;
  font-size: 20px;
  line-height: 24px;
}

.popover {
  height: auto !important;
  position: fixed;
  top: 82px !important;
}

.popover wrapper {
  height: auto !important;
}

.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;
}


.item .badges {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.item .badge {
  position: relative;
  display: inline-block;
  top: 0;
  right: 0;
}

.item .badge-points {
  position: relative;
  display: inline-block;
  float: right;
  font-size: 20px;
  border-radius: 14px;
  padding: 8px;
}

.item .selected {

}

.item-avatar {
  h2 {
    font-size: 18px;
  }
}

.item p.points {
  font-size: 15px;
}

.item p.points-selected {
  color: white;
}



.item-body p {
  margin: 4px;
}

.item-body {
  padding: 8px 16px;
  border-bottom: 0px;
}

.badge-location {
 position: relative;
}

.card .item-head {
  // background-color: $smt-grey-1;
  border-top: 3px solid $positive;
  background: $smt-grey-1 linear-gradient(rgba(225, 225, 225, 1),rgba(242, 244, 245, 0.5));

}

.item-divider {
  background: $smt-grey-1 linear-gradient(rgba(225, 225, 225, 1),rgba(242, 244, 245, 0.5));
}

/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.progress {
  width: 100%;
  height: 3px;
  padding: 0;
}
.progress-wrap {
  background: $positive;
  margin: 16px 0 0px;
  overflow: hidden;
  position: relative;
  .progress-bar {
    background: $smt-grey-1;
    left: 50%;
    position: absolute;
    top: 0;
  }
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: $smt-grey-1;
  position: absolute;
  bottom: 44px;
  z-index: 12;
}

.increment {
  width: 5%;
  height: 100%;
  background: $positive;
  transition: all .75s;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.increment-35 {
  width: 35%;
}

.increment-50 {
  width: 50%;
}

.increment-65 {
  width: 65%;
}

.increment-95 {
  width: 95%;
}
.increment-100 {
  width: 100%;
}


ion-popover-view {
  background-color: white;
}

.card-new {
  border: 1px solid $smt-red-3;
}

.list-overlay {
  position: absolute;
  top: -10px;
}

#profile-info {
  // position: absolute;
  // top: -200px;
  // width: 100%;
  z-index: 2;
  margin-top: -5px;
  text-align: center;
  //height: 200px;
}

// #profile-bg {
//   position: fixed;
//   left: 0;
//   top: 44px;
//   width: 100%;
//   height: 150px;
// }

#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 72px;
  height: 72px;
  margin: 10px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

#profile-content {
  position: relative;
  margin-top: -10px;
  // background-color: white;
  // box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
  // padding-top: 200px;
}

#profile-name {
  margin-bottom: 0px;
  font-weight: 200;
}

#profile-points {
  font-size: 18px;
}

.profile-progress {
  postion: relative;
  padding: 12px 4px;
  height: 100px;
  width: 100%;
  text-align: center;
}

h3.profile-progress-title {
  font-size: 18px;
}

.profile-progress-value {
  margin: -54px auto 10px;
  width: 50px;
  top: 75px;
  font-weight: bold;
}

.full-image {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
}

.scenario {
  padding-right: 6px;
}

.bar .button, .bar button {
  font-size: 15px;
}

.item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 22px;
    font-size: 48px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
  }
